<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>

  <% include ../static/partials/navbar.ejs %>

  <main class="container">

    <% include ../static/partials/messages.ejs %>

    <h1>Premium membership comes with its benefits!</h1>
    <p>For just $15, create your own private wikis and collaborate with other Premium users!</p>
    <hr>

    <p>Please use test card below</p>
    <ul>
      <li>CC Number: (4242 4242 4242 4242)</li>
      <li>Expiration Date (01/2020)</li>
      <li>CVC Code (123)</li>
    </ul>

    <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_d0i8FN9OtV21uK6bJ4TGVW9j00hOwVlrwn"
      data-amount="1500"
      data-name="Blocipedia"
      data-description="Blocipedia Premium Membership"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
      </script>
    </form>

  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>
</html>
